/* ************* Structure ************* */

html {
 height: 100%;
}

body {
 height: 100%;
 padding: 0;
 margin: 0;
 font-family: Arial, sans-serif;
 font-size: 0.80em;
 background-color: #ccc;
}

#content{
 margin: auto;
 width: 1000px;
 background: white;
 -moz-box-shadow: 20px 0 20px #aaa, -20px 0 20px #aaa;
 -webkit-box-shadow: 20px 0 20px #aaa, -20px 0 20px #aaa;
 box-shadow: 20px 0 20px #aaa, -20px 0 20px #aaa;
}

#wrap{
}

#body-wrap{
 clear: both;
 padding: 50px;
}

/* ************* Footer ************* */

#footer {
 clear: both;
 padding: 5px 0px 1px 0px;
 margin: 30px 0px 0px 0px;
 font-size: 0.9em;
 font-weight: normal;
 background-color: black;
 color: white;
}

/* ************* Header ************* */


#head{
 padding: 50px;
}

#head-left {
 float: left;
}

#head-right{
 float: right;
}

#head-right ul{
 list-style:none;
 margin: 0;
}

#head-right li{
 margin-left:2.4em;
 display:block;
 float: left;
}

#head-right li a{
 font-size: 2em;
}

#head-right .menu-externals{
 float: right;
 margin-top: 10px;
}

#head-right .menu-externals li a{
 font-size: 1.2em;
}

#head-right a{
 color: #333;
}

#head-right a:hover{
 color: white;
}

/* ************* Front Page ************* */

.page-right-narrow h3{
 font-size:1.8em;
 margin-top: 1em;
}

.page-right-narrow p{
 margin: 0;
}

/* ************* Top Navigation ************* */

#nav{
 float: left;
 position: relative;
 padding: 5px 0px 5px 0px;
 font-size: 1.2em;
 font-weight: bold;
 color: #B9BBBD;
 background: #565455;
 width: 100%;
}

#nav-menu{
 margin-left: 50px;
}

#sub-nav{
 float: left;
 position: relative;
 padding: 6px 0px 6px 0px;
 font-size: 0.9em;
 font-weight: bold;
 color: #B9BBBD;
 background: #565455;
}
#sub-nav-empty{
 float: left;
 position: relative;
 padding: 6px 0px 6px 0px;
 font-size: 0.9em;
 font-weight: bold;
 color: #B9BBBD;
 background: #565455;
}

#user-bar{
 /*width: 280px;*/
 float: left;
 position: relative;
 margin: 0px;
 padding: 5px 20px 0px 690px;
 font-size: 0.9em;
 text-align: right;
 background: white;
}

/* ************* Page Layouts ************* */

.page-wide{
 float: left;
 width: 100%;
}

.page-left-split{
 width: 50%;
 float: left;
}

.page-right-split{
 width: 50%;
 float: right;
}

.page-left-medium, .page-left-wide{
 width: 67%;
 float: left;
}

.page-right-narrow{
 width: 33%;
 float: right;
}

/* ************* FORMS ************* */


.search_input{
 width: 130px;
 font-family: Arial, sans-serif;
 padding: 5px 3px 5px 4px;
 background: #D2D5D7;
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 font-size: 1.0em;
 line-height: normal;
}

.search_button{
 background-color: #3A3839;
 font-family: Arial, sans-serif;
 font-size: 0.9em;
 border-color: #3A3839;
 color: white;
 padding: 2px 4px 2px 4px;
}

.form_textbox{
 font-family: Arial, sans-serif;
 padding: 5px 3px 5px 4px;
 background: #D2D5D7;
 color: black;
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 font-size: 1.0em;
 line-height: normal;
}

.form_button_dark{
 background-color: #3A3839;
 font-family: Arial, sans-serif;
 font-size: 0.9em;
 border-color: #3A3839;
 color: white;
 padding: 2px 4px 2px 4px;
 margin: 0px 0px 2px 0px;
}
.form_button_light{
 background-color: #AAAAAA;
 font-family: Arial, sans-serif;
 font-size: 0.9em;
 border-color: #AAAAAA;
 color: #3A3839;
 padding: 2px 4px 2px 4px;
 margin: 0px;
}


/* ************* Normal Links ************* */


a{
 text-decoration: none;
 color: #EE3987;
}

a:visited {
 color: #EE3987;
}

a:hover {
 text-decoration: none;
 color: white;
 background-color: #EE3987;
}

a:active {
 text-decoration: none;
 color: #EE3987;
}

/* ************* No Hover Links ************* */

a.nohover:hover {
 background: none;
 border: none;
}

a.nohover {
 background: none;
 border: none;
}

/* ************* Nav Links ************* */

#nav a{
 text-decoration: none;
 color: white;
 background: none;
}

#nav a:link{
 text-decoration: none;
 color: white;
 background: none;
}

#nav a:visited {
 text-decoration: none;
 color: white;
 background: none;
}

#nav a:hover {
 text-decoration: none;
 color: white;
 background-color: #EE3987;
}

#nav a:active {
 text-decoration: none;
 color: white;
 background-color: #EE3987;
}

#nav a.selected{
 text-decoration: none;
 color: white;
 background: none;
 border-bottom: 1px solid #D05399;
}

#sub-nav a{
 text-decoration: none;
 color: white;
 background: none;
}

#sub-nav a:link{
 text-decoration: none;
 color: white;
 background: none;
}

#sub-nav a:visited {
 text-decoration: none;
 color: white;
 background: none;
}

#sub-nav a:hover {
 text-decoration: none;
 color: #DC75AF;
 background: none;
}

#sub-nav a:active {
 text-decoration: none;
 color: white;
 background: none;
}
#sub-nav a.selected{
 text-decoration: none;
 color: white;
 background: none;
 border-bottom: 1px solid #DC75AF;
}

/* *********** docs links ********* */

.functionslist a, .varslist a{
 color: #444;
}

.functionslist a:hover, .varslist a:hover{
 color: white;
}

ul.functionslist, ul.varslist{
 list-style:none;
 padding:0;
 line-height:1.7em;
 color: #444;
}


/* ************* text ************* */

h1{
 font-size: 3.5em;
 color: #333333;
 font-weight: normal;
 padding: 10px 0px 5px 0px;
 margin: 0;
}

h2{
 font-size: 2.3em;
 color: #333333;
 font-weight: normal;
 padding: 0px 0px 2px 0px;
 margin: 0 1.2em 0 0;
}

h3{
 font-size: 1.1em;
 color: #333333;
 font-weight: normal;
 padding: 0px 0px 2px 0px;
 margin: 0px;
}

hr{
 width: 100%;
 height: 1px;
 background: #ccc;
 border: 0;
 margin: 20px 0;
}

/* ************* docs list ************* */

.docs_col{
 width: 31%;
 margin: 0px 0 5px 0px;
 float: left;
 position: relative;
}
.docs_col:nth-child(2), .docs_col:nth-child(3) {
 margin-left:3%;
}

.docs_group{
 width: 100%;
 
 line-height: 140%;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 20px 0px;
 float: left;
 position: relative;
 /*border: 1px solid #D7D7D7;*/
}
.docs_group_head{
 background: #E1E1E1;
 width: 100%;
 float: left;
 margin: 0px 0px 5px 0px;
 padding: 3px 0px 3px 0px;
 color: black;
 font-weight: bold;
}

.docs_class{
 width: 100%;
 padding: 5px 0px 5px 0px;
 margin: 0px;/*5px 0px 10px 0px;*/
 float: left;
 position: relative;
/* border: 1px solid #D7D7D7;*/
 background: #F7F7F7;
}

.beginners .docs_col{
 width: 250px;
 margin-right: 80px;
}

.beginners .docs_group{
 width: 100%;
}
.beginners .docs_group_head{
 width: 100%;
}

.beginners .docs_class{
 width: 100%;
}

/* ************* docs detail ************* */

.docs_detail_table{
 width: 650px;
 margin: 0px 0px 30px 0px;
 padding: 5px 0px 0px 0px;
 float: left;
 position: relative;
line-height:20px;
}

.docs_detail_table_offset{
 width: 650px;
 margin: 0px 0px 25px 0px;
 padding: 5px 0px 0px 40px;
 float: left;
 position: relative;
}

.docs_detail_wide_col{
 width: 650px;
 margin: 0px;
 padding: 0px 0px 5px 0px;
 float: left;
 position: relative;
 font-size: 1.1em;
 font-weight: bold;
 padding-top:10px;
 border-top-color:#EEEEEE;
 border-top-width:1px;
 border-top-style:solid;
}

.docs_detail_wide_col_tiny{
 width: 600px;
 margin: 0px;
 padding: 0px 0px 10px 0px;
 float: left;
 position: relative;
 font-size: 0.84em;
 font-weight: normal;
 color: #CCCCCC;
}
.docs_detail_wide_col_nav{
 width: 650px;
 margin: 0px;
 padding: 0px 0px 5px 0px;
 float: left;
 position: relative;
 font-size: 0.84em;
 font-weight: normal;
 text-align: right;
}

.docs_detail_left_col{
 width: 170px;
 margin: 0px;
 padding: 0px 0px 10px 0px;
 float: left;
 position: relative;
 color: #A3A3A3;
 font-weight: bold;
}

.docs_detail_right_col{
 width: 480px;
 margin: 0px;
 padding: 0px 0px 10px 0px;
 float: left;
 position: relative;
font-size:12px;
}

.docs_detail_right_col img{
 max-width: 480px;
}

/* ************* docs links ************* */


a.docs_func{
 text-decoration: none;
 color: #3A3839;
 background: none;
}

a:link.docs_func{
 text-decoration: none;
 color: #3A3839;
 background: none;
}

a:visited.docs_func{
 text-decoration: none;
 color: #3A3839;
 background: none;
}

a:hover.docs_func{
 text-decoration: none;
 color: white;
 background: #3A3839;
}

a:active.docs_func{
 text-decoration: none;
 color: #3A3839;
 background: none;
}

a.docs_file_func{
 text-decoration: none;
 color: #00FF00;
 background: none;
}

a:link.docs_file_func{
 text-decoration: none;
 color: #3A3839;
 background: none;
}

a:visited.docs_file_func{
 text-decoration: none;
 color: #3A3839;
 background: none;
}

a:hover.docs_file_func{
 text-decoration: none;
 color: white;
 background: #3A3839;
}

a:active.docs_file_func{
 text-decoration: none;
 color: #3A3839;
 background: none;
}

a.docs_vars{
 text-decoration: none;
 color: #565455;
 background: none;
}

a:link.docs_vars{
 text-decoration: none;
 color: #565455;
 background: none;
}

a:visited.docs_vars{
 text-decoration: none;
 color: #565455;
 background: none;
}

a:hover.docs_vars{
 text-decoration: none;
 color: white;
 background: #565455;
}

a:active.docs_vars{
 text-decoration: none;
 color: #565455;
 background: none;
}

a.docs_file_vars{
 text-decoration: none;
 color: #565455;
 background: none;
}

a:link.docs_file_vars{
 text-decoration: none;
 color: #565455;
 background: none;
}

a:visited.docs_file_vars{
 text-decoration: none;
 color: #565455;
 background: none;
}

a:hover.docs_file_vars{
 text-decoration: none;
 color: white;
 background: #565455;
}

a:active.docs_file_vars{
 text-decoration: none;
 color: #565455;
 background: none;
}

.docs_class_link{line-height:190%;}

a.docs_class_link, a:link.docs_class_link, a:visited.docs_class_link, a:hover.docs_class_link, a:active.docs_class_link{ text-decoration: none; }

.docs-syntax-text{
font-weight:bold;
}

.docs-description-text{
color:#333333;
font-size:12px;
line-height:16px;
letter-spacing: 0.2px;
}

.docs-detail-title{
 padding-top:5px;
 padding-bottom:15px;
 font-size:14px;
}

.docs-returns-type{
font-weight:bold;
}


pre {
 background-color: #fdfde3;
 font-family: Courier;
 font-size:13px;
 margin: 0px;
 white-space: pre-wrap;
margin-top:15px;
margin-left:10px;
font-size:90%; line-height:9px; padding-left:10px; padding-top:10px; padding-bottom:10px;
line-height:120%;
}

.faqAnswer {
 width: 470px;
 padding: 10px 10px 10px 10px;
 margin: 10px 0 10px 20px;
 background-color: #FCFCFC;
}

#home_follow{
 padding: 10px;
 background: #CCCCCC;
 width: 300px;
}
#home_mailinglist{
 padding: 10px;
 background: #A4D7F2;
}


/* gallery */

.gallery-text-overlay{
position:absolute; bottom:10px; left:0px; z-index:0;
background-color:#333333;
color:#FCFCFC;
width:182px;
font-size:11px;
padding-left:4px;
padding-right:4px;
padding-top:4px;
padding-bottom:4px;
}

#gallery img{
 max-width: 100%;
}

div.galleryItem{
 width:31%;
 float:left;
 background-color:#F7F7F7;
 height:350px;
 margin-bottom:20px;
 position:relative;
}

div.galleryItem:nth-child(2),div.galleryItem:nth-child(3n),div.galleryItem:nth-child(5),div.galleryItem:nth-child(8){
 margin-left:3%;
}

div.galleryItem h2 .external-dot{
 color: #ee3987;
}

div.galleryItem h2{
 background-color: #eee; /* #ee3987; #009bca;*/
 color:#333;
 font-size:1.2em;
 line-height:1.4em;
 /*width:100%;*/
 margin:0; /*4px 0 4px 0;*/
 padding:4px 0 4px 10px;
}

div.galleryItem h2 a{
 color:#333;
}

div.galleryItem h2 a:hover{
 color:white;
}

div.galleryItem .moreLink{
 display: block;
 bottom: 10px;
 position: absolute;
}

div.galleryItem p{
 padding:10px 10px 0px 10px;
 line-height:1.4em;
 margin:0;
}

.external-dot{
 color: #009bca;
 font-size:0.9em;
}

/* download */


#download-latest-header h2{
 float: left;
 margin-right: 10px;
 font-size: 3em;
 font-weight: bold;
}

#download-latest-header{
 margin: 0;
}

#download-latest-platform, #docs-ebook{ 
 width:150px;
 height:150px;
 padding:20px;
 margin: 0 10px 10px 0;
 background-color: #eee;
}

#download-latest-platform{
 float:left;
 clear:none;
}

#download-latest-platform p{
 margin: 0;
}

#download-latest-platform h3{
 margin-top: .5em;
}

#docs-ebook{
 float:right;
 margin-top:20px;
}

.download-license{
clear:both;
padding-top:1em;
}


.tweet, #forum, #github{
 float:left;
 width:32%;
 margin-right: 2%;
}

#github, .tweet, #forum{
 line-height:1.4em;
}

#github{
 margin-right: 0;
}

/* flickr bar */


#flickr a.flickrTitle{
 background-color:#888;
 width: 440px;
 height: 1.7em;
 margin:0;
 padding:0;
 display: block;
 position: absolute;
 bottom:0;
}

#flickr a h3{
 font-size:1em;
 text-align:left;
 color:white;
 padding:0 0 0 10px;
 line-height: 1.7em;
}

#flickr a.img{
 background-color:black; 
 width:440px;
 line-height:300px;
}

#flickr img{
 max-width:440px;
 max-height:300px;
 margin: auto;
 vertical-align:middle;
}

#flickr,#flickr .imgContainer {
 width:440px;
 background-color:black;
 text-align:center;
 float:left;
 height:300px;
 overflow-y: hidden;
}

#flickr{
 margin-top:20px;
}

#vimeo iframe{
 margin-top:20px;
 margin-left:20px;
}


a.noLine{
text-decoration:none;
}

#community img{width:100px;}


/* twitter bar */
.tweet, .query {
 padding: 0;
 color: #333;
 background-color: #eee;
}


.tweet_list, div#github ul, #forum ul {
 font-size: .9em;
 list-style: none;
 padding: 0;
 margin: 0;
 overflow-y: hidden;
 background-color: #F7F7F7;
}

.tweet_list .awesome,
.tweet_list .epic {
 text-transform: uppercase;
}

.tweet_list li, div#github li, #forum li {
 overflow-y: hidden;
 overflow-x: hidden;
 padding: .5em;
 list-style-type: none;
 border-top: solid 1px #ddd;
}

#forum li a:nth-child(1) {
 font-style: italic;
 font-weight: bold;
}

.tweet_list .tweet_avatar {
 padding-right: .2em;
 margin-right: .2em;
 float: left;
}

.tweet_list .tweet_avatar img {
 vertical-align: middle;
}

.tweet_list a{
 color: black;
 text-decoration: none;
}

.tweet_list a:hover{
 color: white;
 background-color:#ee3987;
 text-decoration: none;
}


/* github bar */
 
div#github, #forum {
 list-style-type: none;
 padding: 0;
 list-style: none;
 overflow-y: hidden;
 background-color: #ddd;
}

.tweet_list li:nth-child(2n), div#github li:nth-child(2n), #forum li:nth-child(2n) {
 background-color: #eee;
}

div#github .github_avatar {
 padding-right: .5em; float: left;
 height:32px;
}

div#github .github_avatar img {
 vertical-align: middle;
 width: 32px;
}

#github a, #forum a{
 color: black;
 text-decoration: none;
}

#github a:hover, #forum a:hover{
 color: white;
 background-color:#ee3987;
 text-decoration: none;
}

.tweet h3, #forum h3, #github h3{
 margin:0;
 padding-left:10px;
 background-color:#ee3987;
 color:white;
 font-size:1.2em;
 line-height:1.4em;
}

/* community user page */

#user{
 float: left;
 margin-left:30px;
}

#user h1{
 margin-top:0;
 padding-top:0;
 line-height:1em;
}

.clearboth{
 clear: both;
} 
