## -*- coding: utf-8 -*-
<%inherit file="base.tmpl" />
<%namespace name="of" file="of_helpers.tmpl"/>

<%block name="extra_head">
    <script type="text/javascript">
        forumTitle = '${ of.msg("forum", locals()) }';
        githubTitle = '${ of.msg("github", locals()) }';
    </script>
    <script type="text/javascript" src="/assets/js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="/assets/js/encoder.js"></script>
    <script type="text/javascript" src="/assets/js/socialwidgets.js"></script>
    <script type="text/javascript" src="/assets/js/home.js"></script>
</%block>



<%block name="content">
<div id="body-wrap">
    <div class="page-left-medium">
    <p>
        <!-- OF video -->
        <iframe src="http://player.vimeo.com/video/74124094?title=0&amp;byline=0&amp;portrait=0" width="700" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </p>
    </div>

    <div class="page-right-narrow">
        <div class="home-links">
            <h2>${of.msg("openFrameworks is an open source C++ toolkit for creative coding.", locals())}</h2>

            <h3><a href="download/">${of.msg("download", locals())}</a></h3>
            <p>${of.msg("Grab the most recent release (${currentVersion}) and follow the setup guide to get openFrameworks running.", locals())}</p>

        <h3><a href="documentation/">${of.msg("documentation", locals())}</a></h3>
        <p>${of.msg('Reference for openFrameworks classes, functions and addons. You can also check the <a href="/tutorials">tutorials section<a>.', locals())}</p>

        <h3><a href="http://forum.openframeworks.cc/">${of.msg("forum", locals())}</a></h3>
        <p>${of.msg("The forum is a place to meet other people working with openFrameworks. It's a place to share your work, or find help solving problems.", locals())}</p>
        </div>
    </div>

    <div class="sectiontext home">
        <h2>${of.msg("Latest images", locals())}</h2>
    </div>
    <div class="gallery home">
        <div id="flickr"></div>
        <br class="clearboth">
    </div>

    <div class="sectiontext home">
        <h2>${of.msg("Latest posts", locals())}</h2>
    </div>

    <div class="social home">
        <div class="tweet">
            <h3>${of.msg("twitter", locals())}</h3>
            <div id="tweets">
            <div class="tweets">
                <a data-chrome="noheader noscrollbar nofooter transparent"  data-show-replies="false" data-tweet-limit="4" data-link-color="#EE3987"  class="twitter-timeline" href="https://twitter.com/search?q=openframeworks" data-widget-id="367489340693176321">${of.msg('Tweets about "#openframeworks"', locals())}</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            </div>
        </div>

        <div id="forum"></div>

        <div id="github"></div>

        <br class="clearboth">
    </div>
</div>
</%block>
